{%extends '../base.html'%}
{%block title%}Network Center | Camera Edit{%endblock%}
{%block navLinks%}
<li class="navigation-links"><a href="{%url 'new-cluster'%}">Add new Cluster</a></li>
<li class="navigation-links"><a href="{%url 'new-camera'%}">Add new Camera</a></li>
{%for dept in deptList%}
<li class="navigation-links"><a href="{%url 'status-view' dept.name%}">{{dept.name}} Department</a></li>
{%endfor%}
<li class="navigation-links"><a href="{%url 'logout'%}">Logout</a></li>
{%endblock%}

{%block content%}
    <section>
        <form method="post">
            {%csrf_token%}
            {%for field in form%}
            <div class="fieldWrapper">
                {{field.label_tag}}
                {{field}}
            </div>
            {%endfor%}
            <button type="submit" class="btn btn-primary" name="sub" value="sub">Edit</button>
            <button type="submit" class="btn btn-danger" name="delete" value="del">Delete Camera</button>
        </form>
    </section>
{%endblock%}